<!DOCTYPE html>
<html>
<head>
    <title>Peng</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../css/kube.min.css" />
    <link rel="stylesheet" href="../css/font-awesome.min.css" />
    <link rel="stylesheet" href="../css/custom.min.css" />
    <link rel="shortcut icon" href="../img/p.png" />
	<link href='https://fonts.googleapis.com/css?family=Playfair+Display+SC:700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Lato:400,1200' rel='stylesheet' type='text/css'>
	<style>
		.intro h1:before {
			/* Edit this with your name or anything else */
			content: 'Peng';
		}
	</style>
</head>
<body>
	<!-- Navigation -->
	<div class="main-nav">
		<div class="container">
			<header class="group top-nav">
				<div class="navigation-toggle" data-tools="navigation-toggle" data-target="#navbar-1">
				    <span class="logo">Peng</span>
				</div>
			    <nav id="navbar-1" class="navbar item-nav">
				    <ul>
				        <li><a href="../index.html">About</a></li>
						<li><a href="papers.html">Publications</a></li>
				        <li class="active"><a href="activities.html">News</a></li>
						<li><a href="teaching.html">Teaching</a></li>
						<li><a href="people.html">People</a></li>
				    </ul>
				</nav>
			</header>
		</div>
	</div>

	<!-- Professional Activities -->
	<div class="skills section second" id="pa">
		<div class="container">

			<h3>2020~</h3>
			<ul>
			    <li> 2020/02/26 DeepMNE-CNN is accepted by Briefings in Bioinformatics</li>
			    <li> 2020/02/10 “Reduction in TOM1 expression exacerbates Alzheimer’s disease” is accepted by PNAS.
				<li> 2020/02/07 团队与华西医院合作的论文被《ANNALS OF SURGICAL ONCOLOGY》(外科肿瘤学年鉴)录用《Classification and Prognosis Prediction from Histopathological Images of Hepatocellular Carcinoma by a Fully Automated Pipeline Based on Machine Learning》</li>
				<li> 2020/02/07 恭喜鲁桂林同学论文被《Curr Pharm Des》录用 《A Survey of Network Representation Learning Methods for Link Prediction in Biological Network》</li>
			</ul>
			<h3>2019~</h3>
			<ul>
				<li> 2019/11/25 恭喜鲁桂林同学论文被BMC Bioinformatics录用《TS-GOEA: a web tool for tissue-specific gene set enrichment analysis based on gene ontology》</li>
				<li> 2019/09/17 恭喜薛寒生同学在 The Australian National University 开始新旅程. GOOD LUCK～ </li>
				<li> 2019/08/09 恭喜薛寒生同学论文被CIKM录用 《Integrating Multi-Network Topology via Deep Semi-supervised Node Embedding》</li>
				<li> 2019/07/14 恭喜卢俊雅同学论文被Bioinformatics录用 《Identifying Emerging Phenomenon in Long Temporal Phenotyping Experiments》</li>
				<li> 2019/06/23 恭喜王晓昱同学论文被BMC Bioinformatics录用《Combining gene ontology with deep neural networks to enhance the clustering of single cell RNA-Seq data》</li>
				<li> 2019/4/3 恭喜惠薇薇和李倩倩同学论文被Bioinformatics录用 《A learning-based framework for miRNA-disease association identification using neural networks》</li>
				<li> 2019/3/12 恭喜管娇娇同学论文被Frontiers in Genetics 录用 《Predicting Parkinson's disease genes based on node2vec and autoencoder》</li>
				<li> 2019/3/11 恭喜俊雅和薇薇同学顺利通过硕士毕业答辩！Congrats！</li>
				<li> 2019/1/17 王晓昱同学参加APBC2019并作报告</li>
				<li> 2019/1/1 恭喜惠薇薇同学获得研究生国家奖学金</li>
			</ul>
			<h3>2018~</h3>
			<ul>
				<li> 2018/12/1 恭喜薛寒生同学论文被AAAI录用</li>
				<li> 2018/4/12 惠薇薇同学的工作在BMC Bioinformatics期刊发表：《Measuring phenotype-phenotype similarity through the interactome》</li>
				<li> 2018/3/25 轩硕同学的工作在BMC Systems Biology期刊发表：《Improving the measurement of semantic similarity by combining gene ontology and co-functional network: a random walk based approach》</li>
				<li> 2018/3/11 恭喜倩倩顺利通过硕士生毕业答辩！</li>
			</ul>
		</div>
	</div>

</body>
</html>
