<!DOCTYPE html>
<html>
<head>
    <title>Peng</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../css/kube.min.css" />
    <link rel="stylesheet" href="../css/font-awesome.min.css" />
    <link rel="stylesheet" href="../css/custom.min.css" />
    <link rel="shortcut icon" href="../img/p.png" />
	<link href='https://fonts.googleapis.com/css?family=Playfair+Display+SC:700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Lato:400,1200' rel='stylesheet' type='text/css'>
	<style>
		.intro h1:before {
			/* Edit this with your name or anything else */
			content: 'Peng';
		}
	</style>
</head>
<body>
	<!-- Navigation -->
	<div class="main-nav">
		<div class="container">
			<header class="group top-nav">
				<div class="navigation-toggle" data-tools="navigation-toggle" data-target="#navbar-1">
				    <span class="logo">Peng</span>
				</div>
			    <nav id="navbar-1" class="navbar item-nav">
				    <ul>
				        <li><a href="../index.html">About</a></li>
						<li class="active"><a href="papers.html">Publications</a></li>
				        <li><a href="activities.html">News</a></li>
						<li><a href="teaching.html">Teaching</a></li>
						<li><a href="people.html">People</a></li>
				    </ul>
				</nav>
			</header>
		</div>
	</div>

	<!-- Papers -->
	<!-- selected publications -->
	<div class="award section second" >
		<div class="container" id="selected_publications">
			<h3>>Selected Publications</h3>
			<ul>
				<li> Tianyi Zhao#, Shuxuan Lyu#, Guilin Lu#, Liran Juan#, Xi Zeng, Zhongyu Wei, Jianye Hao, Jiajie Peng. SC2diseases: a manually curated database of Single-Cell Transcriptome for human diseases. Nucleic Acids Research, 2020</li>
                <li> Jiajie Peng, Tianyi Zhao. Reduction in TOM1 expression exacerbates Alzheimer’s disease. PNAS, 2020</li>
                <li> Jiajie Peng, Hansheng Xue, Zhongyu Wei, Idil Tuncali, Jianye Hao, Xuequn Shang. Integrating multi-network topology for gene function prediction using deep neural networks. Briefings in Bioinformatics, 2020</li>			
				<li> Jiajie Peng, Junya Lu, Donghee Hoh, Ayesha Dina, Xuequn Shang, David Kramer, Jin Chen. Identifying Emerging Phenomenon in Long Temporal Phenotyping Experiments. Bioinformatics, 2020</li>
				<li> Hansheng Xue, Jiajie Peng, Xuequn Shang. Towards Gene Function Prediction via Multi-Networks Representation Learning. AAAI, 2019</li>
				<li> Hansheng Xue, Jiajie Peng, Jiying Li, Xuequn Shang. Integrating Multi-Network Topology via Deep Semi-supervised Node Embedding. CIKM, 2019</li>
				<li> L Liu, Y Ma, X Zhu, Y Yang, X Hao, L Wang, J Peng. Integrating Sequence and Network Information to Enhance Protein-Protein Interaction Prediction Using Graph Convolutional Networks. BIBM, 2019</li>
				<li> Jiajie Peng, Weiei Hui, Qianqian Li, Bolin Chen, Jianye Hao, Qinghua Jiang, Xuequn Shang, Zhongyu Wei. A learning-based framework for miRNA-disease association identification using neural networks. Bioinformatics, 2019</li>
				<li> J Peng, X Wang, X Shang. Combining gene ontology with deep neural networks to enhance the clustering of single cell RNA-Seq data. BMC Bioinformatics, 2019</li>
				<li> J Peng, L Zhu, Y Wang, J Chen. Mining Relationships among Multiple Entities in Biological Networks. IEEE/ACM transactions on computational biology and bioinformatics, 2019</li>
				<li> Jiajie Peng, Tao Wang, Jixuan Wang, Yadong Wang, Jin Chen. Extend Gene Ontology based on gene network data. Bioinformatics, 2016</li>
				<li> Yongzhuang Liu, Jian Liu, Jianguo Lu, Jiajie Peng, Liran Juan, Xiaolin Zhu, Bingshan Li, Yadong Wang. Joint detection of copy number variations in the parent-offspring trio. Bioinformatics, 2016</li>
				<li> Jiajie Peng, Sahra Uygun, Taehyong Kim,Yadong Wang, Seung Y. Rhee, Jin Chen. Measuring Genome-specific Semantic Similarities Using Gene Ontology and Gene Co-Function Networks. BMC Bioinformatics, 2015</li>
				
			
			</ul>
		</div>

		<br>
		<br>
		<br>
		<br>


		<!-- all publications -->
		<div class="container" id="all_publications">
			<h3>>All Publications</h3>
			
			<h4>2020~</h4>
			<ul>
				<li> Jiajie Peng, Tianyi Zhao. Reduction in TOM1 expression exacerbates Alzheimer’s disease. PNAS, 2020</li>
                <li> Jiajie Peng, Hansheng Xue, Zhongyu Wei, Idil Tuncali, Jianye Hao, Xuequn Shang. Integrating multi-network topology for gene function prediction using deep neural networks. Briefings in Bioinformatics, 2020</li>			
				<li> Jiajie Peng, Junya Lu, Donghee Hoh, Ayesha Dina, Xuequn Shang, David Kramer, Jin Chen. Identifying Emerging Phenomenon in Long Temporal Phenotyping Experiments. Bioinformatics, 2020</li>
				<li> Haotian Liao, Tianyuan Xiong, Jiajie Peng, Lin Xu, Mingheng Liao, Zhen Zhang, Zhenru Wu, Kefei Yuan, Yong Zeng. Classification and Prognosis Prediction from Histopathological Images of Hepatocellular Carcinoma by a Fully Automated Pipeline Based on Machine Learning. Annals of Surgical Oncology, 2020</li>
			</ul>
			<h4>2019~</h4>
			<ul>
				<li> J Peng, W Hui, Q Li, B Chen, J Hao, Q Jiang, X Shang, Z Wei. A learning-based framework for miRNA-disease association identification using neural networks. Bioinformatics, 2019</li>
				<li> J Peng, X Wang, X Shang. Combining gene ontology with deep neural networks to enhance the clustering of single cell RNA-Seq data. BMC Bioinformatics, 2019</li>
				<li> Peng, J., Lu, G., Xue, H., Wang, T., & Shang, X.  TS-GOEA: a web tool for tissue-specific gene set enrichment analysis based on gene ontology. BMC bioinformatics, 2019</li>
				<li> H Xue, J Peng, J Li, X Shang. Integrating Multi-Network Topology via Deep Semi-supervised Node Embedding. CIKM, 2019</li>
				<li> J Peng, L Zhu, Y Wang, J Chen. Mining Relationships among Multiple Entities in Biological Networks. IEEE/ACM transactions on computational biology and bioinformatics, 2019</li>
				<li> H Xue, J Peng, X Shang. Towards Gene Function Prediction via Multi-Networks Representation Learning. AAAI, 2019</li>
				<li> L Liu, Y Ma, X Zhu, Y Yang, X Hao, L Wang, J Peng. Integrating Sequence and Network Information to Enhance Protein-Protein Interaction Prediction Using Graph Convolutional Networks. BIBM, 2019</li>
				<li> J Peng, L Han, X Shang. A deconvolution method for predicting cell abundance based on single cell RNA-seq data. BIBM, 2019</li>
				<li> Y Wang, L Juan, J Peng, T Zang, Y Wang. LncDisAP: a computation model for LncRNA-disease association prediction based on multiple biological datasets. BMC bioinformatics, 2019</li>
				<li> T Wang, J Peng, Q Peng, Y Wang, J Chen. FSM: Fast and scalable network motif discovery for exploring higher-order network organizations. Methods, 2019</li>
				<li> J Peng, G Lu, X Shang. A Survey of Network Representation Learning Methods for Link Prediction in Biological Network. Current Pharmaceutical Design, 2019</li>
				<li> Y Wang, L Juan, J Peng, T Zang, Y Wang. Prioritizing candidate diseases-related metabolites based on literature and functional similarity. BMC bioinformatics, 2019</li>
				<li> T Wang, Q Peng, B Liu, X Liu, Y Liu, J Peng, Y Wang. eQTLMAPT: fast and accurate eQTL mediation analysis with efficient permutation testing approaches. Frontiers in Genetics, 2019</li>
				<li> H Xue, J Peng, X Shang. Predicting disease-related phenotypes using an integrated phenotype similarity measurement based on HPO. BMC Systems Biology, 2019</li>
				<li> J Peng, J Guan, X Shang. Predicting Parkinson's disease genes based on node2vec and autoencoder. Frontiers in genetics, 2019
			</ul>
			<h4>2018~</h4>
			<ul>
				<li> Jiajie Peng, Weiwei Hui, Xuequn Shang. Measuring phenotype-phenotype similarity through the interactome. BMC Bioinformatics, 2018.  </li>
				<li> Jiajie Peng, Xuanshuo Zhang, Weiwei Hui, Junya Lu, Qianqian Li, Shuhui Liu and Xuequn Shang. Improving the measurement of semantic similarity by combining gene ontology and co-functional network: a random walk based approach. BMC Systems Biology, 2018. </li>
				<li> Liang Cheng, Yue Jiang, Hong Ju, Jie Sun, Jiajie Peng, Meng Zhou, Yang Hu. InfAcrOnt: calculating cross-ontology term similarities using information flow by a random walk . BMC Genomics , 2018. ）  </li>
			</ul>
			<h4>2017~</h4>
			<ul>
				<li> Jiajie Peng, Kun Bai, Xuequn Shang, Guohua Wang, Hansheng Xue, Shuilin Jin, Liang Cheng, Yadong Wang, and Jin Chen. Predicting disease-related genes using integrated biomedical networks . BMC Genomics, 2017.  </li>
				<li> Jiajie Peng, Honggang Wang, Junya Lu, Weiwei Hui, Yadong Wang, Xuequn Shang. Identifying term relations cross different gene ontology categories . BMC Bioinformatics, 2017.  </li>
				<li> Jiajie Peng, Qianqian Li, Xuequn Shang. Measuring phenotype-phenotype similarity through the interactome , Bioinformatics and Biomedicine (BIBM), 2017 IEEE International Conference on.  </li>
				<li> Jiajie Peng, Junya Lu, Xuequn Shang. Identifying consistent disease subnetworks using DNet. Methods, 2017.  </li>
				<li> Jiajie Peng, Hansheng Xue, et al. A novel method to measure the semantic similarity of HPO terms. International Journal of Data Mining and Bioinformatics , 2017. （IF=0.62）</li>
				<li> Jiajie Peng, Qianqian Li, Xuequn Shang. Investigations on factors influencing HPO-based semantic similarity calculation, Journal of Biomedical Semantics, 2017.（IF=1.85）    </li>
			</ul>
			<h4>2016~</h4>
			<ul>
				<li> Jiajie Peng, Tao Wang, Jixuan Wang, Yadong Wang, Jin Chen. Extend Gene Ontology based on gene network data. Bioinformatics, (2016) 32 (8): 1185-1194. </li>
				<li> Jiajie Peng, Hongxiang Li, Yongzhuang Liu, Liran Juan, Qinghua Jiang, Yadong Wang and Jin Chen. InteGO2: a web tool for measuring and visualizing gene semantic similarities using Gene Ontology. BMC Genomics, (2016) 17 (5)</li>
				<li> Jiajie Peng, Hansheng Xue, Yukai Shao, Xuequn Shang, Yadong Wang, and Jin Chen, Measuring Phenotype Semantic Similarity using Human Phenotype Ontology. BIBM 2016  </li>
				<li> Jiajie Peng, Tao Wang, Jianping Hu, Yadong Wang, Jin Chen. Constructing Networks of Organelle Functional Modules in Arabidopsis. Current Genomics, (2016) 17 (5), 427-438  </li>
			</ul>
			<h4>2015~</h4>
			<ul>
				<li> Jiajie Peng, Sahra Uygun, Taehyong Kim,Yadong Wang, Seung Y. Rhee, Jin Chen. Measuring Genome-specific Semantic Similarities Using Gene Ontology and Gene Co-Function Networks [J]. BMC Bioinformatics, 2015,16: 44. （中科院二区 ，IF=2.58）</li>
				<li> Qinghua Jiang, Jixuan Wang, Xiaoliang Wu, Rui Ma, Shuilin Jin, Zhijie Han, Renjie Tan, Jiajie Peng, Guiyou Liu, Yu Li, Yadong Wang. LncRNA2Target: a database for differentially expressed genes after lncRNA knockdown or overexpression. Nucleic Acids Res, 2015. 43:D193-D196.（中科院一区 ，IF=9.11） </li>
				<li> Jiajie Peng, Hongxiang Li, Yongzhuang Liu, Liran Juan, Qinghua Jiang, Yadong Wang and Jin Chen. InteGO2: A web tool for measuring and visualizing gene semantic similarities using Gene Ontology[C]. BIOINFORMATICS RESEARCH AND APPLICATIONS (ISBRA 2015), 2015, 9096: 431-432.</li>
				<li> Jiajie Peng, Hongxiang Li, Yadong Wang and Jin Chen. A web tool for measuring gene semantic similarities by combining Gene Ontology and gene co-function networks[C]. proceedings of the 6th ACM Conference on Bioinformatics, Computational Biology （ACM BCB）, 2015：678-679（DOI号为10.1145/2808719.2816835）</li>
				<li> Yongzhuang Liu, Jian Liu, Jianguo Lu, Jiajie Peng, Liran Juan, Xiaolin Zhu, Bingshan Li, Yadong Wang. Joint detection of copy number variations in the parent-offspring trio. Bioinformatics,（中科院一区 ，IF=4.98）</li>
				<li> Qinghua Jiang, Rui Ma, Jixuan Wang, Xiaoliang Wu, Shuilin Jin, Jiajie Peng, Renjie Tan, Tianjiao Zhang, Yu Li, Yadong Wang. LncRNA2Function: a comprehensive resource for functional investigation of human lncRNAs based on RNA-seq data. BMC genomics, 2015. 16(S3):S2.（中科院二区 ，IF=3.99）</li>
			</ul>
			<h4>2014~</h4>
			<ul>
				<li> Jiajie Peng, Hongxiang Li, Qinghua Jiang, Yadong Wang and Jin Chen. An Integrative Approach for Measuring Semantic Similarities using Gene Ontology [J]. BMC Systems Biology, 2014,8: S8. （中科院二区 ，IF=2.44）</li>
				<li> Jiajie Peng, Yadong Wang, and Jin Chen. Towards integrative gene functional similarity measurement. BMC bioinformatics, 2014, 15: S5 （中科院二区 ，IF=2.58）</li>
				<li> Liang Cheng, Jie Li, Peng Ju, Jiajie Peng, and Yadong Wang. SemFunSim: A New Method for Measuring Disease Similarity by Integrating Semantic and Gene Functional Association. PloS one, 2014, 9(6): e99415（中科院三区 ，IF=3.23）</li>
				<li> Shuilin Jin, Renjie Tan, Qinghua Jiang, Li Xu, Jiajie Peng, Yong Wang, Yadong Wang. A  Generalized Topological Entropy for Analyzing the Complexity of DNA Sequences. PLOS ONE, 2014, 9(2): e88519 （中科院三区 ，IF=3.23） </li>
			</ul>
			<h4>2013~</h4>
			<ul>
				<li> Jiajie Peng, Jin Chen, Yadong Wang. Identifying cross-category relations in gene ontology and constructing genome-specific term association networks. BMC bioinformatics, 2013, 14: S15（中科院二区 ，IF=2.58）</li>
			</ul>
		</div>
	<div>


</body>
</html>
