<!DOCTYPE html>
<html>
<head>
    <title>Peng</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../css/kube.min.css" />
    <link rel="stylesheet" href="../css/font-awesome.min.css" />
    <link rel="stylesheet" href="../css/custom.min.css" />
    <link rel="shortcut icon" href="../img/p.png" />
	<link href='https://fonts.googleapis.com/css?family=Playfair+Display+SC:700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Lato:400,1200' rel='stylesheet' type='text/css'>
	<style>
		.intro h1:before {
			/* Edit this with your name or anything else */
			content: 'Peng';
		}
	</style>
</head>
<body>
	<!-- Navigation -->
	<div class="main-nav">
		<div class="container">
			<header class="group top-nav">
				<div class="navigation-toggle" data-tools="navigation-toggle" data-target="#navbar-1">
				    <span class="logo">Peng</span>
				</div>
			    <nav id="navbar-1" class="navbar item-nav">
				    <ul>
				        <li><a href="../index.html">About</a></li>
						<li><a href="papers.html">Publications</a></li>
				        <li><a href="activities.html">News</a></li>
						<li><a href="teaching.html">Teaching</a></li>
						<li  class="active"><a href="people.html">People</a></li>
				    </ul>
				</nav>
			</header>
		</div>
	</div>

	<!-- Teaching -->
	<div class="work section second" id="eandt">
		<div class="container">
		 
			<ol>
					<ul>欢迎对数据挖掘、人工智能和计算生物学相关方向感兴趣的优秀本科生、硕士生、博士生、博士后加入我们！ 
						<h3><li>博士生</li></h3>
							<ul>
								<li>王威</li>
							</ul>
						<h3><li>硕士生</li></h3>
							<ul>
								<li>王晓昱 (已发表SCI二区论文一篇)</li>
								<li>龙羽西</li>
								<li>鲁桂林 (已发表CCF B类会议论文一篇，SCI论文2篇)</li>
								<li>管娇娇 (已发表SCI二区论文一篇)</li>
								<li>韩璐 (发表CCF B类会议论文一篇)</li>
								<li>李靖怡</li>
								<li>王余贤</li>
								<li>彭景浩</li>
							</ul>
						<h3><li>本科生</li></h3>
							<ul>
								<li>杨金金</li>
								<li>高妍</li>
								<li>吴云舒</li>
							</ul>
					</ul>
				
				<h3>Alumni</h3>
				<ul>
					<h3><li>科研助理</li></h3>
						<ul>
							<li>薛寒生(已发表SCI论文三篇，CCF A类和B类会议论文各一篇，目前在澳大利亚国立大学读博)</li>
						</ul>
					<h3><li>硕士生</li></h3>
						<ul>
							<li>卢俊雅（发表SCI一区论文一篇，发表SCI二区论文一篇，论文在审一篇，搜狗算法岗）</li>
							<li>惠薇薇（发表SCI一区论文一篇，CCF B类会议论文一篇, SCI二区论文一篇，获研究生国家奖学金，vivo 算法岗）</li>
							<li>李倩倩（发表SCI三区论文一篇，CCF B类会议论文一篇，在360工作） </li>
							<li>白坤（期间发表SCI论文一篇，腾讯 ）</li>
							<li>邵玉凯（期间发表SCI论文一篇，招商银行）</li>
							<li>朱林娇（拿到百度、腾讯、秒针等多家知名企业offer，滴滴）</li>
							<li>李波（拿到腾讯、华为等多家知名企业offer，华为）</li>
						</ul>
					<h3><li>本科生</li></h3>
						<ul>
							<li>李洪祥（期间发表SCI论文两篇，EI论文两篇，获研究生国家奖学金，目前在深圳创业）</li>
							<li>张轩硕 （期间发表SCI论文一篇，目前在万得资讯工作 ）</li>
						</ul>
				</ul>
			</ol>
		</div>
	</div>
</body>
</html>
