<!DOCTYPE html>
<html>
<head>
    <title>Peng</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../css/kube.min.css" />
    <link rel="stylesheet" href="../css/font-awesome.min.css" />
    <link rel="stylesheet" href="../css/custom.min.css" />
    <link rel="shortcut icon" href="../img/p.png" />
	<link href='https://fonts.googleapis.com/css?family=Playfair+Display+SC:700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Lato:400,1200' rel='stylesheet' type='text/css'>
	<style>
		.intro h1:before {
			/* Edit this with your name or anything else */
			content: 'Peng';
		}
	</style>
</head>
<body>
	<!-- Navigation -->
	<div class="main-nav">
		<div class="container">
			<header class="group top-nav">
				<div class="navigation-toggle" data-tools="navigation-toggle" data-target="#navbar-1">
				    <span class="logo">Peng</span>
				</div>
			    <nav id="navbar-1" class="navbar item-nav">
				    <ul>
				        <li><a href="../index.html">About</a></li>
						<li><a href="papers.html">Publications</a></li>
				        <li><a href="activities.html">News</a></li>		
						<li class="active"><a href="teaching.html">Teaching</a></li>
						<li><a href="people.html">People</a></li>
				    </ul>
				</nav>
			</header>
		</div>
	</div>

	<!-- Teaching -->
	<div class="work section second" id="eandt">
		<div class="container">
						
				<h2>Undergraduate</h2>
				<ul>
					<li>《Artificial Intelligence》</li>
					<li>《Artificial Intelligence and Big Biology Data》</li>
				</ul>
				<h2>Graduate</h2>
				<ul>
					<li>《Computational Biology》</li>
				</ul>
		</div>
	</div>
</body>
</html>
